
// News Section Styles
//------------------------------------------------------------------------------

/* News Section */

.news-section {
  margin: 50px 0;
  padding: 25px;
  width: 650px;
  font-size: 12px;
  background-color: $brand-beige;
}

.news-header {
  box-sizing: content-box;
  width: 560px;
  margin-left: -2px;
  padding: 0 20px;
  border: 2px solid $light-grey;
  background: linear-gradient(0deg, $brand-pink, lighten($brand-pink, 7%));
  -pie-background: linear-gradient(0deg, $brand-pink, lighten($brand-pink, 7%));
  border-radius: $border-radius-default $border-radius-default 0 0;
  behavior: url(js/PIE.htc);
  &>.row>.col:first-child {
    box-sizing: border-box;
    border-right: 1px dashed lighten($brand-pink, 25%);
  }
  &>.row>.col:last-child {
    box-sizing: border-box;
    padding-left: $gutter;
  }
  h2 {
    margin: 20px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: -1px -1px darken($brand-pink, 15%);
    color: white;
  }
}

.news-content {
  padding: 0 20px;
  background-color: white;
  border-radius: 0 0 $border-radius-default $border-radius-default;
  behavior: url(js/PIE.htc);
  @extend %box-shadow;
  @extend %dotted-border;
  h3 {
    font-size: 1em;
  }
  &>.row>.col {
    padding-bottom: $gutter;
  }
  &>.row>.col:first-child {
    padding-right: $gutter;
  }
  &>.row>.col:last-child {
    padding-left: $gutter;
  }
}

.news-item {
  margin-top: 20px;
  &>.row>.col:last-child {
    margin-left: -10px;
  }
}

.img-container {
  width: 75%;
  border: 1px solid $brand-beige-dark;
  img {
    width: 100%;
    padding: 5px;
  }
}

.news-item-content {
  p {
    margin-top: 0;
    font-size: .9em;
    line-height: 1.6em;
    color: $brand-beige-dark;
  }
}

.news-more-link {
  color: $brand-pink;
  &:after {
    margin-left: 10px;
    font-family: 'FontAwesome';
    content: '\f08e';
  }
  &:hover {
    color: darken($brand-pink, 15%);
    text-decoration: none;
  }
}
